
# -f https://download.pytorch.org/whl/torch_stable.html
# torch==1.8.0+cpu
# transformers==4.2.2
# cassandra-driver

requests
farm-haystack
fastapi
gunicorn
pypyr
python-dotenv
uvicorn
boto3
bs4
PyPDF2==2.11.1
python-multipart